@font-face {
    font-family: 'nms';
    src: url('../fonts/nms.woff2') format('woff2'),
    url('../fonts/nms.ttf') format('truetype');
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nms {

    font-family: 'nms', 'Varela Round', sans-serif;
}

body {
    background-color: #fff;
    font-family: "IBM Plex Sans", sans-serif;
}

nav {
    padding: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .2s;
    font-size: 14px;
    font-weight: bold;
}

nav li a:hover {
    color: #444;
    transition: .2s;
}

nav li a:active {
    color: #d43b3b;
}

.main-text {
    margin: auto 10;
    transition: .4s;
}

.main-text-medium {
    margin: auto 15%
}

.main-text-small {
    margin: auto 25%
}

footer {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    text-decoration: none;
    border-radius: 5px;
}

footer a {
    color: #444;
}

footer a:visited {
    color: #444;
}

.box-x {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    transition: .2s;
}

.box-x:hover {
    transform: rotate(180deg);
    transition: .6s;
}

.box-text {
    position: relative;
    background-color: #2f3136;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    min-width: 130px;
}

.box-success {
    background-color: #28a745;
    color: white;
}

.box-warning {
    background-color: #ffc107;
    color: black;
}

.box-danger {
    background-color: #dc3545;
    color: white;
}

.text-light {
    font-size: 1em;
    line-height: 1.375em;
    cursor: default;
    color: #666;
}

.sub-light {
    color: #CCC;
}

.title-light {
    font-size: calc(100% + 4.5vw);
    margin-top: 0px !important;
    margin-bottom: 0px;
    cursor: default;
    color: #000;
}

.active {
    color: #d43b3b;
}

.video {
    border-radius: 3px;
    transition: .4s;
}

.video:hover {
    box-shadow: 0 5px 20px #1f1f1f;
    transition: .4s;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container.ratio4x3 {
    padding-bottom: 75%;
}

.home-logo {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50px;
    position: relative;
    background-size: cover;
}

.home-logo:after {
    transform: scale(0.95) translateY(36px) translateZ(-30px);
    filter: blur(20px);
    opacity: 0.9;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    z-index: -1;
    transition: filter .3s ease;
}

.dash-show {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

.text-card {
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    align-self: center;
    text-align: center;
    justify-self: center;
}

.no-highlight {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    /*background-color: #202225;*/
    border-radius: 5px;
    transition: .4s;
    margin-bottom: 40px;
    margin-left: 13px;
    margin-right: 20px;
    max-width: 350px;
    min-width: 350px;
    display: inline-block;
    align-self: center;
    justify-self: center;
}

.card:hover {
    /*box-shadow: 0 15px 40px rgba(212, 59, 59, 0.5);*/
}

.card-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: grayscale(60%);
    transition: .4s;
}

.card:hover .card-img {
    filter: grayscale(0%);
    transition: .4s;
}

.card:hover .card-img {
    filter: grayscale(0%);
    transition: .4s;
}

.card-img-full {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card:hover .card-img-full {
    filter: grayscale(0%);
    transition: .4s;
}

.card-txt {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.card-footer {
    background-color: #25282b;
    text-align: left;
    border-top: 1px solid #2c2c2c;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .4s;
}

.card:hover .card-footer {
    background-color: #202225;
    transition: .4s;
}

.card-links {
    background-color: #25282b;
    border-top: 1px solid #2c2c2c;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    transition: .4s;
}

.card:hover .card-links {
    background-color: #202225;
    transition: .4s;
}

.card-links a:visited, .card-links a:active, .card-links a:link {
    text-decoration: none;
    color: black;
    transition: .4s;
}

.card h2 {
    color: #000;
    text-align: left;
}

.card p {
    color: #999;
}

.grid {
    margin: 0px auto;
    width: 95%;
    justify-content: center;
    display: flex inline-block;
    text-align: center;
}

.badge-wrapper {
    margin-bottom: 40px;
    text-align: left;
}

.badge {
    padding: .25em .4em;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-succes {
    background-color: #28a745;
}

.badge-warning {
    background-color: #ffc107;
    color: black;
}

.badge-danger {
    background-color: #dc3545;
}

.button-wrapper {
    text-align: center;
}

.button {
    background-color: #d43b3b;
    color: #fff;
    letter-spacing: 0.2pt;
    font-size: 1em;
    font-weight: 700;
    border-radius: 5px;
    min-width: 160px;
    height: 48px;
    padding: 15px 40px;
    transition: .3s;
    text-decoration: none;
}

.button:hover {
    background-color: #c61d1d;
    box-shadow: 0 5px 20px 0 rgba(212, 59, 59, 0.3);
    transition: .3s;
    cursor: pointer;
}

.button-left {
    margin-left: 0px;
    margin-right: 10px;
}

.button-right {
    margin-left: 10px;
    margin-right: 0px;
}

.button-disabled {
    background-color: #42464d;
    color: hsla(0, 0%, 100%, .2);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 35%;
    text-align: center;
    display: inline-block;
}

.box-text .fas {
    cursor: pointer;
}

.fas {
    margin-left: 4px;
}

.news-img {
    width: 400px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.news {
    margin: 40px;
    display: inline-block;
    width: 400px;
    background: #f8f8f8;
    border-radius: 10px;
    text-align: left;
    transition: .4s;
    cursor: pointer;
}

.news:hover {
    transition: .4s;
    box-shadow: #CCC 0 30px 50px 0;
    transform: translateY(-10px);
}

.news-text-padding-side {
    padding-left: 20px;
    padding-right: 20px;
}

.news-text-padding-bottom {
    padding-bottom: 15px;
}

.text-small {
    font-size: .9em;
}

.platforms-wrap {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.platform {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 8px;
    color: white;
}

.platform-pc {
    background: #52565e;
}

.platform-ps4 {
    background: #003791;
}

.platform-xbox {
    background: #107c10;
}